* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f0f0f0; /* Light background color */
}

header {
  padding: 20px;
  background-color: #87ceeb; /* Light blue */
  text-align: center;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the phone vertically */
}

.phone {
  border: 1px solid #333; /* Darker border for contrast */
  border-radius: 30px; /* Rounded corners to mimic a phone */
  background-color: #d3d3d3; /* Light gray */
  width: 30vw;
  min-width: 300px;
  max-width: 400px; /* Maximum width for large screens */
  height: 70vh;
  max-height: 800px; /* Maximum height for large screens */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #333; /* Darker border for contrast */
  height: 100%;
  width: 100%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
  color: #000; /* Ensure text color is black */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Inner shadow */
}

.records {
  border: 1px solid #333; /* Darker border for contrast */
  width: 100%;
  flex: 1;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Slightly opaque background for readability */
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly opaque background */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-size: 16px;
  color: #333; /* Dark text color */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: #87ceeb; /* Light blue border on focus */
  box-shadow: 0 0 5px rgba(135, 206, 235, 0.5); /* Light blue shadow on focus */
}

.phone-bottom {
    display: flex;
    gap: 20px;
}

button {
    min-width: 70px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #87ceeb; /* Light blue background */
    color: white; /* White text color */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  button:hover {
    background-color: #00bfff; /* Darker blue on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(135, 206, 235, 0.5); /* Light blue shadow on focus */
  }